In [76]:
import pandas as pd

In [77]:
data = pd.read_csv('diabetes_012_health_indicators_BRFSS2015.csv', sep=',')
data = data.apply(pd.to_numeric, errors='coerce')
data = data.astype(int)

data

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,1,1,1,40,1,0,0,0,0,...,1,0,5,18,15,1,0,9,4,3
1,0,0,0,0,25,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,0,1,1,1,28,0,0,0,0,1,...,1,1,5,30,30,1,0,9,4,8
3,0,1,0,1,27,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,0,1,1,1,24,0,0,0,1,1,...,1,0,2,3,0,0,0,11,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0,1,1,1,45,0,0,0,0,1,...,1,0,3,0,5,0,1,5,6,7
253676,2,1,1,1,18,0,0,0,0,0,...,1,0,4,0,0,1,0,11,2,4
253677,0,0,0,1,28,0,0,0,1,1,...,1,0,1,0,0,0,0,2,5,2
253678,0,1,0,1,23,0,0,0,0,1,...,1,0,3,0,0,0,1,7,5,1
253679,2,1,1,1,25,0,0,1,1,1,...,1,0,2,0,0,0,0,9,6,2

In [78]:

range_col_names = ['BMI', 'MentHlth', 'PhysHlth']
quantiles_values = [[0.2, 0.4, 0.6, 0.8],[0.5], [0.5]]



for index in range(len(range_col_names)): 
    quantiles = data[range_col_names[index]].quantile(quantiles_values[index])
    ranges = [data[range_col_names[index]].min()] + quantiles.tolist() + [data[range_col_names[index]].max()]
    range_labels = [f'{int(ranges[i])}-{int(ranges[i+1])}' for i in range(len(ranges) - 1)]

    for i, range_label in enumerate(range_labels):
        min_val = ranges[i]
        max_val = ranges[i + 1]
        data[f'{range_col_names[index]}_{range_label}'] = ((data[range_col_names[index]] >= min_val) & (data[range_col_names[index]] < max_val)).astype(int)

    data.drop(columns=[range_col_names[index]], inplace=True)


data

,Diabetes_012,HighBP,HighChol,CholCheck,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,Income,BMI_12-23,BMI_23-26,BMI_26-29,BMI_29-32,BMI_32-98,MentHlth_0-0,MentHlth_0-30,PhysHlth_0-0,PhysHlth_0-30
0,0,1,1,1,1,0,0,0,0,1,...,3,0,0,0,0,1,0,1,0,1
1,0,0,0,0,1,0,0,1,0,0,...,1,0,1,0,0,0,0,1,0,1
2,0,1,1,1,0,0,0,0,1,0,...,8,0,0,1,0,0,0,0,0,0
3,0,1,0,1,0,0,0,1,1,1,...,6,0,0,1,0,0,0,1,0,1
4,0,1,1,1,0,0,0,1,1,1,...,4,0,1,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0,1,1,1,0,0,0,0,1,1,...,7,0,0,0,0,1,0,1,0,1
253676,2,1,1,1,0,0,0,0,0,0,...,4,1,0,0,0,0,0,1,0,1
253677,0,0,0,1,0,0,0,1,1,0,...,2,0,0,1,0,0,0,1,0,1
253678,0,1,0,1,0,0,0,0,1,1,...,1,0,1,0,0,0,0,1,0,1
253679,2,1,1,1,0,0,1,1,1,0,...,2,0,1,0,0,0,0,1,0,1

In [79]:
dumie_col_names = ['GenHlth', 'Age', 'Education', 'Income']

for col in dumie_col_names:
    dummies = pd.get_dummies(data[col], prefix=f'{col}_')
    dummies = dummies.astype(int)
    data = pd.concat([data, dummies], axis=1)
    data.drop(columns=[col], inplace=True)

data

,Diabetes_012,HighBP,HighChol,CholCheck,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,Education__5,Education__6,Income__1,Income__2,Income__3,Income__4,Income__5,Income__6,Income__7,Income__8
0,0,1,1,1,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,1,0,0,1,0,0,...,0,1,1,0,0,0,0,0,0,0
2,0,1,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,0,1,0,1,0,0,0,1,1,1,...,0,0,0,0,0,0,0,1,0,0
4,0,1,1,1,0,0,0,1,1,1,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0,1,1,1,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,1,0
253676,2,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
253677,0,0,0,1,0,0,0,1,1,0,...,1,0,0,1,0,0,0,0,0,0
253678,0,1,0,1,0,0,0,0,1,1,...,1,0,1,0,0,0,0,0,0,0
253679,2,1,1,1,0,0,1,1,1,0,...,0,1,0,1,0,0,0,0,0,0

In [80]:
data.to_csv('output.csv', index=False)